.containerChat {
  width: 40vw;
  min-height: 45vh;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1.8px 3.5px 3.5px hsl(0deg 0% 0% / 0.45);
  margin-top: 10vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.inputContainerChat {
	margin-top: 40vh;
	
}

.wrapperChat {
	display: flex;
	justify-content: center;
	align-items: center;
}