.App {
  height: 100vh;
}

.signup-container {
  width: 40vw;
  min-height: 45vh;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1.8px 3.5px 3.5px hsl(0deg 0% 0% / 0.45);
}

.form-logo {
  width: 10vw;
  min-width: 80px;
  margin: 0 auto;
}

.form-logo-img {
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .signup-container {
    width: fit-content;
    box-shadow: none;
  }
  .form-button {
    width: 100%;
  }
}

.main-footer {
  background-color: #1b1c1e;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}
